<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mhj.s1.bankbook.BankbookDAO">
  	<!-- SELECT -->
  	<select id="getBankbookList" resultType="BankbookDTO">
  		SELECT * FROM BANKBOOK
  	</select>
  	
  	<select id="getBankbookDetail" parameterType="BankbookDTO" resultType="BankbookDTO">
  		SELECT * FROM BANKBOOK WHERE BOOKNUM=#{bookNum}
  	</select>
  	
  	<!-- INSERT -->
  	<insert id="setBankbookAdd" parameterType="BankbookDTO">
  		INSERT INTO BANKBOOK
  		VALUES (BANKNUM_SEQ.NEXTVAL, #{bookName}, #{bookDetail}, #{bookRate}, #{bookSale})
  	</insert>
  	
  	<!-- UPDATE -->
  	<update id="setBankbookUpdate" parameterType="BankbookDTO">
  		UPDATE BANKBOOK
  		SET BOOKNAME=#{bookName}, BOOKDETAIL=#{bookDetail}, BOOKRATE=#{bookRate}, BOOKSALE=#{bookSale}
  		WHERE BOOKNUM=#{bookNum}
  	</update>
  	
  	<!-- DELETE -->
  	<delete id="setBankbookDelete" parameterType="Long">
  		DELETE BANKBOOK
  		WHERE BOOKNUM=#{bookNum}
  	</delete>
  </mapper>