<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mhj.s1.bankbook.BankbookDAO">
  
  	<!-- SQL -->
  	<sql id="searchCondition">
		<if test="kind == 'title'">
  			WHERE BOOKNAME
  			LIKE '%' || #{search} || '%'
  		</if>
  		<if test="kind == 'contents'">
  			WHERE BOOKDETAIL
  			LIKE '%' || #{search} || '%'
  		</if>
  	</sql>
  	<sql id="searchCondition2">
		WHERE 			
		<choose>
			<when test="kind == 'title'">
				BOOKNAME
			</when>
			<otherwise>
				BOOKDETAIL
			</otherwise>
		</choose>
		LIKE '%' || #{search} || '%'
  	</sql>
  
  	<!-- SELECT -->
  	<select id="getBankbookCount" parameterType="Pager" resultType="Long">
  		SELECT COUNT(BOOKNUM) FROM BANKBOOK
  		<include refid="searchCondition"></include>
  	</select>
  	
  	<select id="getBankbookList" parameterType="Pager" resultType="BankbookDTO">
  		SELECT * FROM 
			(
			 	SELECT ROWNUM R, B.* FROM
					(
						SELECT * FROM BANKBOOK
						<include refid="searchCondition"></include>
						ORDER BY BOOKNUM DESC
					)
			B)
			WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="getBankbookDetail" parameterType="BankbookDTO" resultMap="bankbookDetailResult">
  		SELECT *
		FROM BANKBOOK
			LEFT OUTER JOIN
			BANKBOOKIMG
			USING (BOOKNUM)
		WHERE BOOKNUM = #{bookNum}
  	</select>
  	
  	<resultMap type="BankbookDTO" id="bankbookDetailResult">
  		<!-- Primary Key 용도 -->
  		<id column="BOOKNUM" property="bookNum"/>
  		<!-- Primary Key를 제외한 그 외 나머지 -->
  		<result column="BOOKNAME" property="bookName"/>
  		<result column="BOOKDETAIL" property="bookDetail"/>
  		<result column="BOOKRATE" property="bookRate"/>
  		<result column="BOOKSALE" property="bookSale"/>
  		<!-- 1:1, 1:1과 1:N이 함께 있을 때 association 먼저 선언해야 함 -->
  		<association property="bankbookImgDTO" javaType="BankbookImgDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="ORINAME" property="oriName"/>
  		</association>
  		<!-- 1:N, List -->
  		<!-- <collection property=""></collection> -->	
  	</resultMap>
  	
  	<!-- INSERT -->
  	<insert id="setBankbookAdd" parameterType="BankbookDTO">
  		<selectKey keyProperty="bookNum" resultType="Long" order="BEFORE">
  			SELECT BKBOOK_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO BANKBOOK
  		VALUES (#{bookNum}, #{bookName}, #{bookDetail}, #{bookRate}, #{bookSale})
  	</insert>
  	
  	<insert id="setBankbookImgAdd" parameterType="BankbookImgDTO">
  		INSERT INTO BANKBOOKIMG
  		VALUES (BKBOOK_SEQ.NEXTVAL, #{bookNum}, #{fileName}, #{oriName})
  	</insert>
  	
  	<!-- UPDATE -->
  	<update id="setBankbookUpdate" parameterType="BankbookDTO">
  		UPDATE BANKBOOK
  		SET BOOKNAME=#{bookName}, BOOKDETAIL=#{bookDetail}, BOOKRATE=#{bookRate}, BOOKSALE=#{bookSale}
  		WHERE BOOKNUM=#{bookNum}
  	</update>
  	
  	<!-- DELETE -->
  	<delete id="setBankbookDelete" parameterType="Long">
  		DELETE BANKBOOK
  		WHERE BOOKNUM=#{bookNum}
  	</delete>
  </mapper>