<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mhj.s1.bankbook.BankbookDAO">
  
  	<!-- SQL -->
  	<sql id="searchCondition">
		<if test="kind == 'title'">
  			WHERE BOOKNAME
  			LIKE '%' || #{search} || '%'
  		</if>
  		<if test="kind == 'contents'">
  			WHERE BOOKDETAIL
  			LIKE '%' || #{search} || '%'
  		</if>
  	</sql>
  	<sql id="searchCondition2">
		WHERE 			
		<choose>
			<when test="kind == 'title'">
				BOOKNAME
			</when>
			<otherwise>
				BOOKDETAIL
			</otherwise>
		</choose>
		LIKE '%' || #{search} || '%'
  	</sql>
  
  	<!-- SELECT -->
  	<select id="getBankbookCount" parameterType="Pager" resultType="Long">
  		SELECT COUNT(BOOKNUM) FROM BANKBOOK
  		<include refid="searchCondition"></include>
  	</select>
  	
  	<select id="getBankbookList" parameterType="Pager" resultType="BankbookDTO">
  		SELECT * FROM 
			(
			 	SELECT ROWNUM R, B.* FROM
					(
						SELECT * FROM BANKBOOK
						<include refid="searchCondition"></include>
						ORDER BY BOOKNUM DESC
					)
			B)
			WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="getBankbookDetail" parameterType="BankbookDTO" resultType="BankbookDTO">
  		SELECT * FROM BANKBOOK WHERE BOOKNUM=#{bookNum}
  	</select>
  	
  	<!-- INSERT -->
  	<insert id="setBankbookAdd" parameterType="BankbookDTO">
  		<selectKey keyProperty="bookNum" resultType="Long" order="BEFORE">
  			SELECT BKBOOK_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO BANKBOOK
  		VALUES (#{bookNum}, #{bookName}, #{bookDetail}, #{bookRate}, #{bookSale})
  	</insert>
  	
  	<insert id="setBankbookImgAdd" parameterType="BankbookImgDTO">
  		INSERT INTO BANKBOOKIMG
  		VALUES (BKBOOK_SEQ.NEXTVAL, #{bookNum}, #{fileName}, #{oriName})
  	</insert>
  	
  	<!-- UPDATE -->
  	<update id="setBankbookUpdate" parameterType="BankbookDTO">
  		UPDATE BANKBOOK
  		SET BOOKNAME=#{bookName}, BOOKDETAIL=#{bookDetail}, BOOKRATE=#{bookRate}, BOOKSALE=#{bookSale}
  		WHERE BOOKNUM=#{bookNum}
  	</update>
  	
  	<!-- DELETE -->
  	<delete id="setBankbookDelete" parameterType="Long">
  		DELETE BANKBOOK
  		WHERE BOOKNUM=#{bookNum}
  	</delete>
  </mapper>