<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mhj.s1.board.qna.QnaDAO">

	<!-- SQL -->
	<sql id="qnaCondition">
		<where>
			<if test="kind == 'title'">
				TITLE LIKE '%' || #{search} || '%'
			</if>
			<if test="kind == 'contents'">
				CONTENTS LIKE '%' || #{search} || '%'
			</if>
			<if test="kind == 'writer'">
				WRITER LIKE '%' || #{search} || '%'
			</if>
		</where>
	</sql>
	
	<!-- SELECT -->
	<select id="getBoardList" resultType="QnaDTO" parameterType="Pager">
		SELECT * FROM
			(
				SELECT ROWNUM R, C.* FROM
					(
						SELECT * FROM QNA
						<include refid="qnaCondition"></include>
						ORDER BY REF DESC, STEP ASC
					) C
			)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<select id="getTotalCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NUM) FROM QNA
		<include refid="qnaCondition"></include>
	</select>
	
	<select id="getBoardDetail" resultType="QnaDTO" parameterType="BbsDTO">
		SELECT * FROM QNA
		WHERE NUM = #{num}
	</select>
	
	<!-- INSERT -->
	<insert id="setBoardAdd" parameterType="QnaDTO">
		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  			SELECT QNA_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
		INSERT INTO QNA (NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT, REF, STEP, DEPTH)
		VALUES(#{num}, #{title}, #{contents}, #{writer}, SYSDATE, 0, #{num}, 0, 0)
	</insert>
	
	<insert id="setReplyAdd" parameterType="QnaDTO">
		INSERT INTO QNA (NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT, REF, STEP, DEPTH)
		VALUES(QNA_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, SYSDATE, 0, #{ref}, #{step}, #{depth})
	</insert>
	
	<!-- UPDATE -->
	<update id="setStepUpdate" parameterType="QnaDTO">
		UPDATE QNA SET STEP = STEP + 1
		WHERE REF = #{ref} AND STEP > #{step}
	</update>

</mapper>