<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mhj.s1.board.qna.QnaDAO">

	<!-- SQL -->
	<sql id="qnaCondition">
		<where>
			<if test="kind == 'title'">
				TITLE LIKE '%' || #{search} || '%'
			</if>
			<if test="kind == 'contents'">
				CONTENTS LIKE '%' || #{search} || '%'
			</if>
			<if test="kind == 'writer'">
				WRITER LIKE '%' || #{search} || '%'
			</if>
		</where>
	</sql>
	<!-- SELECT -->
	<select id="getBoardList" resultType="QnaDTO" parameterType="Pager">
		SELECT * FROM
			(
				SELECT ROWNUM R, C.* FROM
					(
						SELECT * FROM
						<include refid="qnaCondition"></include>
					) C
			)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
		ORDER BY NUM DESC
	</select>
	
	<select id="getTotalCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NUM) FROM QNA
		<include refid="qnaCondition"></include>
	</select>

</mapper>